#!/bin/bash

if [ -e ./secrets/coveralls.gpg ]; then
  COVERALLS_REPO_TOKEN="$(gpg -d -q secrets/coveralls.gpg)"
  OPENAI_API_KEY="$(gpg -d -q secrets/openai_api_key.gpg)"
  SONAR_HOST_URL='https://sonarcloud.io'
  SONAR_TOKEN="$(gpg -d -q secrets/sonar-token.gpg)"

  export COVERALLS_REPO_TOKEN
  export OPENAI_API_KEY
  export SONAR_HOST_URL
  export SONAR_TOKEN

fi
GNUPGHOME="$(pwd)/.gnupg"
PIPENV_VENV_IN_PROJECT=1

export GNUPGHOME
export PIPENV_VENV_IN_PROJECT
