[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
gitpython = "*"
hypercorn = "*"
langchain-community = "*"
langchain-core = "*"
langchain-experimental = "*"
langchain-openai = "*"
langserve = "*"
langsmith = "*"
loguru = "*"
pipenv = "*"
duckduckgo-search = "*"
sse-starlette = "*"

[dev-packages]
"sphinxcontrib.autoyaml" = "*"
black = "*"
coveralls = "*"
myst-parser = {extras = ["linkify"], version = "*"}
pylint = "*"
pylint-junit = "*"
pytest = "*"
pytest-cov = "*"
pytest-pylint = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-book-theme = "*"
sphinx-design = "*"
sphinxemoji = "*"
version-query = "*"
pytest-asyncio = "*"
