[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
maisie-sphinx-theme = "*"
myst-parser = {extras = ["linkify"], version = "*"}
pydantic = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinxcontrib-autoyaml = "*"

[dev-packages]
pytest = "*"
pytest-sphinx = "*"
